@import 'arena.css';
@import 'fighters.css';
@import 'fighterPreview.css';
@import 'previewContainer.css';
@import 'modal.css';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7);
  visibility: hidden;
}

h1 {
  text-align: center;
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  width: 200px;
  font-size: 32px;
  color: bisque;
}

label {
  align-items: flex-start;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  color: lightgray;
  font-weight: 600;
}

h2,
label,
progress {
  width: 200px;
}

progress {
  background: #008000;
  height: 10px;
  margin: 10px;
}

img:not(.preview-container___versus-img) {
  height: 400px;
}